@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
/*
  font-family: 'Inter', sans-serif;

*/

* {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.register {
  position: absolute;
  height: 100%;
  width: 85%;
}

.registerWrapper {
  position: absolute;
  width: 30%;
  border-radius: 5px;
  left: 55%;
  top: 14%;
  height: 65%;
  text-align: center;
}
